:root {
  /* Light Color Scheme */
  --c-background : #fff8eb;

  /* Dark Color Scheme */
  --c-background : #0C4767;

}



/* Currently disabled, to be implemented in the future */
.hashlife {
  display: none;
}